<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/owl.carousel.css" type="text/css">


    <link rel="stylesheet" href="assets/stylesheets/style1.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/user.style.css" type="text/css">

    <title>Spotter - Universal Directory Listing HTML Template</title>

</head>

<body onunload="" class="page-subpage page-about-us navigation-top-header" id="page-top">

<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">
        <div id="page-canvas">
            <!--Off Canvas Navigation-->
            <nav class="off-canvas-navigation">
                <header>Navigation</header>
                <div class="main-navigation navigation-off-canvas"></div>
            </nav>
            <!--end Off Canvas Navigation-->

            <!--Page Content-->
            <div id="page-content">
                <section class="container">
                    <header>
                        <h1 class="page-title">사진</h1>
                    </header>
                </section>
                <!--/.container-->
                
                    <div class="container">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="text-banner">
                               <!-- <figure>
                                    <img src="assets/img/marker.png" alt="">
                                </figure>-->
                                <div class="description">
                                    <h2>하잇 소개 사진이 들어갈 것이외다~</h2>
                                    <p>
                                        Suspendisse potenti. Integer quis eleifend neque. Curabitur lobortis dictum mollis.
                                        In rhoncus sapien eget tellus sodales.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                <section class="block background-color-white" id="testimonials">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="대학이름을 검색해 보세요">
                            <span class="input-group-btn">
                               <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                       </div>
                    </div>
                    <div class="container">
                        <div class="owl-carousel testimonials">
                            <blockquote>
                                <figure><img src="assets/img/client.jpg" alt=""></figure>
                                <div class="description">
                                    <p>
                                        Fusce risus metus, placerat in consectetur eu, porttitor a est. Sed sed dolor lorem. Cras adipiscing
                                    </p>
                                    <footer>Natalie Jenkins</footer>
                                </div>
                            </blockquote>
                            <blockquote>
                                <figure><img src="assets/img/client.jpg" alt=""></figure>
                                <div class="description">
                                    <p>
                                        Fusce risus metus, placerat in consectetur eu, porttitor a est. Sed sed dolor lorem. Cras adipiscing
                                    </p>
                                    <footer>Natalie Jenkins</footer>
                                </div>
                            </blockquote>
                        </div>
                        <!--/.testimonials-->
                    </div>
                    <!--/.container-->
                </section>
                <!--/.testimonials-->
                <section id="partners" class="block">
                    <div class="container">
                        <header class="no-border"><h3><i class="fa fa-university" style = "color: #ff5069"aria-hidden="true"></i>　대학</h3></header>
                        <div class="logos">
                            <div class="logo"><a href=""><img src="assets/img/logo-partner-01.png" alt="sookmyung"></a></div>
                            <div class="logo"><a href=""><img src="assets/img/logo-partner-02.png" alt="seoul"></a></div>
                            <div class="logo"><a href=""><img src="assets/img/logo-partner-03.png" alt="yonsei"></a></div>
                            <div class="logo"><a href=""><img src="assets/img/logo-partner-04.png" alt="korea"></a></div>
                            <div class="logo"><a href=""><img src="assets/img/logo-partner-05.png" alt="seogang"></a></div>
                        </div>
                        <!--/.logos-->
                    </div>
                    <!--/.container-->
                </section>
                <!--./partners-->
            </div>
            <!-- end Page Content-->
        </div>
        <!-- end Page Canvas-->
        <!--Page Footer-->
        <footer id="page-footer">
            <div class="inner">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <!--New Items-->
                                <section>
                                    <h2 class="text-center">전체 하숙집 수</h2>
                                    <div class="counter col_fourth">
                                        <h2 class="timer count-title" data-to="104" data-speed="3000"></h2>
                                        <p class="count-text ">호롤로로</p>
                                    </div>
                                </section>
                                <!--end New Items-->
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <section>
                                    <h2 class="text-center">전체 등록된 방 수</h2>
                                    <div class="counter col_fourth">
                                        <h2 class="timer count-title" data-to="505" data-speed="3000"></h2>
                                        <p class="count-text ">호에에</p>
                                    </div>
                                </section>
                                <!--end Recent Reviews-->
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <section>
                                    <h2 class="text-center">전체 이용자 수</h2>
                                    <div class="counter col_fourth">
                                        <h2 class="timer count-title" data-to="2514" data-speed="3000"></h2>
                                        <p class="count-text ">호롤로로</p>
                                    </div>
                                </section>
                            </div>
                            <!--/.col-md-4-->
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.container-->
                </div>
                <!--/.footer-top-->
                <div class="footer-bottom">
                    <div class="container">
                        <section class="text-center">
                            <address>
                                <div>하숙을 잇다 'Ha-it'</div>
                                <div>숙명여자대학교</div>
                                <figure>
                                    <div class="info">
                                        <i class="fa fa-mobile"></i>
                                        <span>818-832-5258</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-phone"></i>
                                        <span>+1 123 456 789</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-globe"></i>
                                        <a href="/">www.ha-it.com</a>
                                    </div>
                                </figure>
                                <figure>
                                    <div class="info">
                                        <span>(C) Team Ha-it, All rights reserved</span>
                                    </div>
                                </figure>
                            </address>
                        </section>
                            <span class="right">
                                <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
                            </span>
                    </div>
                </div>
                <!--/.footer-bottom-->
            </div>
        </footer>
        <!--end Page Footer-->
    </div>
    <!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->

<script type="text/javascript" src="/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/before.load.js"></script>
<script type="text/javascript" src="/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/bootstrap.min.js"></script>
<script type="text/javascript" src="/smoothscroll.js"></script>
<script type="text/javascript" src="/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/custom.js"></script>

<script>
    $(window).load(function(){
        var rtl = false; // Use RTL
        initializeOwl(rtl);
    });
</script>


<!--counter를 위한 JS-->
<script>
    (function ($) {
    	$.fn.countTo = function (options) {
    		options = options || {};
    		
    		return $(this).each(function () {
    			// set options for current element
    			var settings = $.extend({}, $.fn.countTo.defaults, {
    				from:            $(this).data('from'),
    				to:              $(this).data('to'),
    				speed:           $(this).data('speed'),
    				refreshInterval: $(this).data('refresh-interval'),
    				decimals:        $(this).data('decimals')
    			}, options);
    			
    			// how many times to update the value, and how much to increment the value on each update
    			var loops = Math.ceil(settings.speed / settings.refreshInterval),
    				increment = (settings.to - settings.from) / loops;
    			
    			// references & variables that will change with each update
    			var self = this,
    				$self = $(this),
    				loopCount = 0,
    				value = settings.from,
    				data = $self.data('countTo') || {};
    			
    			$self.data('countTo', data);
    			
    			// if an existing interval can be found, clear it first
    			if (data.interval) {
    				clearInterval(data.interval);
    			}
    			data.interval = setInterval(updateTimer, settings.refreshInterval);
    			
    			// initialize the element with the starting value
    			render(value);
    			
    			function updateTimer() {
    				value += increment;
    				loopCount++;
    				
    				render(value);
    				
    				if (typeof(settings.onUpdate) == 'function') {
    					settings.onUpdate.call(self, value);
    				}
    				
    				if (loopCount >= loops) {
    					// remove the interval
    					$self.removeData('countTo');
    					clearInterval(data.interval);
    					value = settings.to;
    					
    					if (typeof(settings.onComplete) == 'function') {
    						settings.onComplete.call(self, value);
    					}
    				}
    			}
    			
    			function render(value) {
    				var formattedValue = settings.formatter.call(self, value, settings);
    				$self.html(formattedValue);
    			}
    		});
    	};
    	
    	$.fn.countTo.defaults = {
    		from: 0,               // the number the element should start at
    		to: 0,                 // the number the element should end at
    		speed: 1000,           // how long it should take to count between the target numbers
    		refreshInterval: 100,  // how often the element should be updated
    		decimals: 0,           // the number of decimal places to show
    		formatter: formatter,  // handler for formatting the value before rendering
    		onUpdate: null,        // callback method for every time the element is updated
    		onComplete: null       // callback method for when the element finishes updating
    	};
    	
    	function formatter(value, settings) {
    		return value.toFixed(settings.decimals);
    	}
    }(jQuery));
    
    jQuery(function ($) {
      // custom formatting example
      $('.count-number').data('countToOptions', {
    	formatter: function (value, options) {
    	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
    	}
      });
      
      // start all the timers
      $('.timer').each(count);  
      
      function count(options) {
    	var $this = $(this);
    	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
    	$this.countTo(options);
      }
    });
</script>



<!--[if lte IE 9]>
<script type="text/javascript" src="assets/js/ie-scripts.js"></script>
<![endif]-->
</body>
</html>