<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/user.style.css" type="text/css">

    <title>Spotter - Universal Directory Listing HTML Template</title>

</head>

<body onunload="" class="page-subpage page-item-detail navigation-off-canvas" id="page-top">

<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">
        <!-- Page Canvas-->
        <div id="page-canvas">
            <!--Page Content-->
            <div id="page-content">
                <section class="container">
                    <div class="row text-center" style='margin-top: 8%;'>
                        <div class ='col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1'>
                            <div class='col-md-6 col-sm-6 col-xs-6'><img src="check.png" class='img-thumbnail' style ='width: 130px'></div>
                            <div class='col-md-6 col-sm-6 col-xs-6'><p>　사용 가능</p><h2 class="check_HS">5개</h2><div>
                        </div>
                    </div>
                </section>
                <section class="container">
                    <div class="row text-center" style='margin-top: 8%;'>
                        <div class ='col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1'>
                            <div class='col-md-6 col-sm-6 col-xs-6'><img src="check.png" class='img-thumbnail' style ='width: 130px'></div>
                            <div class='col-md-6 col-sm-6 col-xs-6'><p>　사용 가능</p><h2 class="check_HS">5개</h2><div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>