<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/jquery.mCustomScrollbar.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/jquery.nouislider.min.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/colors/green.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/user.style.css" type="text/css">

    <title>Spotter - Universal Directory Listing HTML Template</title>

</head>

<body onunload="" class="map-fullscreen page-homepage navigation-off-canvas" id="page-top">

<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">
        <!-- Page Canvas-->
        <div id="page-canvas">
            <!--Off Canvas Navigation-->
            <nav class="off-canvas-navigation">
                <header>Navigation</header>
                <div class="main-navigation navigation-off-canvas"></div>
            </nav>
            <!--end Off Canvas Navigation-->
            <!--Page Content-->
            <div id="page-content">
                <!-- Map Canvas-->
                <div class="map-canvas list-solid">
                    <!-- Map -->
                    <div class="map">
                        <div class="toggle-navigation">
                            <div class="icon">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                        <!--/.toggle-navigation-->
                        <div id="map" class="has-parallax"></div>
                    </div>
                    <!-- end Map -->
                    <div class="items-list mCustomScrollbar _mCS_1 mCS_no_scrollbar">
                        <div tabindex="0" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" id="mCSB_1">
                            <div class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" id="mCSB_1_container" style="left: 0px; top: 0px; position: relative;" dir="ltr">
                                <div class="inner">
                                    <div class="filter">
                                        <form class="main-search" role="form" action="?" method="post">
                                            <header class="clearfix">
                                                <a class="show-more pull-left" aria-expanded="false" aria-controls="advanced-search" href="#advanced-search" data-toggle="collapse">검색필터</a>
                                            </header>
                                            <div class="advanced-search collapse" id="advanced-search">
                                                <h4>Features</h4>
                                                <ul class="list-unstyled checkboxes">
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="1"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Free Parking</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="2"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Cards Accepted</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="3"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Wi-Fi</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="4"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Air Condition</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="5"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Reservations</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="6"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Team-buildings</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="7"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Places to seat</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="8"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Winery</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="9"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Draft Beer</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="10"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>LCD</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="11"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Saloon</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="12"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Free Access</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="13"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Terrace</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="14"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Minigolf</label></div></li>
                                                    <li><div class="checkbox"><label><div class="icheckbox"><input name="features[]" style="position: absolute; opacity: 0;" type="checkbox" value="15"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>Night Bar</label></div></li>
                                                </ul>
                                            <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="type">Property Type</label>
                                                <select name="type" title="All" id="type" style="display: none;" multiple="" data-live-search="true">
                                                    <option value="1">Stores</option>
                                                    <option class="sub-category" value="2">Apparel</option>
                                                    <option class="sub-category" value="3">Computers</option>
                                                    <option class="sub-category" value="4">Nature</option>
                                                    <option value="5">Tourism</option>
                                                    <option value="6">Restaurant &amp; Bars</option>
                                                    <option class="sub-category" value="7">Bars</option>
                                                    <option class="sub-category" value="8">Vegetarian</option>
                                                    <option class="sub-category" value="9">Steak &amp; Grill</option>
                                                    <option value="10">Sports</option>
                                                    <option class="sub-category" value="11">Cycling</option>
                                                    <option class="sub-category" value="12">Water Sports</option>
                                                    <option class="sub-category" value="13">Winter Sports</option>
                                                </select>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!--/.col-md-6-->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="bedrooms">Bedrooms</label>
                                                <div class="input-group counter">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-minus"></i></button>
                                                </span>
                                                    <input name="bedrooms" class="form-control" id="bedrooms" type="text" placeholder="Any">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                                </span>
                                                </div><!-- /input-group -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!--/.col-md-3-->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="bathrooms">Bathrooms</label>
                                                <div class="input-group counter">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-minus"></i></button>
                                                </span>
                                                    <input name="bathrooms" class="form-control" id="bathrooms" type="text" placeholder="Any">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                                </span>
                                                </div><!-- /input-group -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!--/.col-md-3-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="location">Location</label>
                                                <div class="input-group location">
                                                    <input class="form-control" id="location" type="text" placeholder="Enter Location" autocomplete="off">
                                                    <span class="input-group-addon"><i title="" class="fa fa-map-marker geolocation" data-original-title="Find my position" data-toggle="tooltip" data-placement="bottom"></i></span>
                                                </div>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Price</label>
                                                <div class="ui-slider noUi-target noUi-ltr noUi-horizontal noUi-background" id="price-slider" data-currency-placement="before" data-currency="$" data-value-type="price" data-value-max="40000" data-value-min="100">
                                                    <div class="values clearfix">
                                                        <input name="value-min[]" class="value-min" readonly="">
                                                        <input name="value-max[]" class="value-max" readonly="">
                                                    </div>
                                                    <div class="element"></div>
                                                <div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 0%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 100%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!--/.col-md-6-->                                                
                                            </div>
                                            <div class="row">

                                    </div>
                                    <!--/.row-->
                                </form>
                                <!-- /.main-search -->
                            </div>
                            <!--end Filter-->
                            <header class="clearfix">
                                <h3 class="pull-left">검색결과</h3>
                            </header>
                            <ul class="results grid">
                            </ul>
                        </div>
                        <!--results-->
                    </div><div class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" id="mCSB_1_scrollbar_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" id="mCSB_1_dragger_vertical" style="top: 0px; height: 0px; position: absolute; min-height: 30px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
                </div>
                <!-- end Map Canvas-->
            </div>
            <!-- end Page Content-->
        </div>
        <!-- end Page Canvas-->
    </div>
    <!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->

<script type="text/javascript" src="/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/before.load.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script type="text/javascript" src="/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/markerclusterer.js"></script>
<script type="text/javascript" src="/bootstrap.min.js"></script>
<script type="text/javascript" src="/richmarker-compiled.js"></script>
<script type="text/javascript" src="/smoothscroll.js"></script>
<script type="text/javascript" src="/infobox.js"></script>
<script type="text/javascript" src="/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/icheck.min.js"></script>
<script type="text/javascript" src="/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/jquery.nouislider.all.min.js"></script>
<script type="text/javascript" src="/custom.js"></script>
<script type="text/javascript" src="/maps.js"></script>

<script>
    var _latitude = 51.541216;
    var _longitude = -0.095678;
    var jsonPath = 'assets/json/real-estate.json.txt';

    // Load JSON data and create Google Maps

    $.getJSON(jsonPath)
            .done(function(json) {
                createHomepageGoogleMap(_latitude,_longitude,json);
            })
            .fail(function( jqxhr, textStatus, error ) {
                console.log(error);
            })
    ;

    // Set if language is RTL and load Owl Carousel

    $(window).load(function(){
        var rtl = false; // Use RTL
        initializeOwl(rtl);
    });

    autoComplete();

</script>

<!--[if lte IE 9]>
<script type="text/javascript" src="assets/js/ie-scripts.js"></script>
<![endif]-->
</body>
</html>