<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/dropzone.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/style1.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/user.style.css" type="text/css">


    <title>Spotter - Universal Directory Listing HTML Template</title>

</head>

<body onunload="" class="page-subpage page-profile navigation-top-header" id="page-top">

<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">
        
        <!-- Page Canvas-->
        <div id="page-canvas">
            <!--Off Canvas Navigation-->
            <nav class="off-canvas-navigation">
                <header>Navigation</header>
                <div class="main-navigation navigation-off-canvas"></div>
            </nav>
            <!--end Off Canvas Navigation-->
            <!--Page Content-->
            <div id="page-content">
                <section class="container">
                    <header>
                        <ul class="nav nav-pills">
                        </ul>
                    </header>
                    <div class="row">
                        <div class="col-md-9">
                            <form id="form-profile" role="form" method="post" action="?" enctype="multipart/form-data">
                                    <!--Contact Info-->
                                    <div class="col-md-9 col-md-offset-4 col-sm-9 col-sm-offset-4">
                                        <section>
                                            <h3><i class="fa fa-user-circle-o" aria-hidden="true"></i>내 계정</h3>
                                            <div class="form-group">
                                                <label for="state">이름</label>
                                                <input type="text" class="form-control" id="state" name="state">
                                            </div>
                                            <!--/.form-group-->
                                            <div class="form-group">
                                                <label for="city">이메일 주소</label>
                                                <input type="text" class="form-control" id="city" name="city">
                                            </div>
                                            <!--/.col-md-3-->
                                            <div class="form-group">
                                                <label for="additional-address">휴대폰 번호</label>
                                                <input type="text" class="form-control" id="additional-address" name="additional-address">
                                            </div>
                                            </br>
                                            <h3><i class="fa fa-unlock-alt" aria-hidden="true"></i>비밀번호 변경</h3>
                                            <div class="form-group">
                                                <label for="current-password">현재 비밀번호</label>
                                                <input type="password" class="form-control" id="current-password" name="current-password">
                                            </div>
                                            <!--/.form-group-->
                                            <div class="form-group">
                                                <label for="new-password">새 비밀번호</label>
                                                <input type="password" class="form-control" id="new-password" name="new-password">
                                            </div>
                                            <!--/.form-group-->
                                            <div class="form-group">
                                                <label for="confirm-new-password">비밀번호 확인</label>
                                                <input type="password" class="form-control" id="confirm-new-password" name="confirm-new-password">
                                            </div>
                                            <!--/.form-group-->
                                        </section>
                                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-large btn-default" id="submit"><i class="fa fa-times" aria-hidden="true"></i>취소</button>　
                                            <button type="submit" class="btn btn-large btn-default" id="submit"><i class="fa fa-check" aria-hidden="true"></i>저장</button>
                                        </div>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!--/.col-md-6-->
                                </div>
                            </form>
                        </div>
                        <!-- /.col-md-3-->
                    </div>
                </section>
            </div>
            <!-- end Page Content-->
        </div>
        <!-- end Page Canvas-->
    </div>
    <!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->

<script type="text/javascript" src="/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/before.load.js"></script>
<script type="text/javascript" src="/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/bootstrap.min.js"></script>
<script type="text/javascript" src="/smoothscroll.js"></script>
<script type="text/javascript" src="/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/custom.js"></script>
<!--[if lte IE 9]>
<script type="text/javascript" src="assets/js/ie-scripts.js"></script>
<![endif]-->
</body>
</html>