<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/dropzone.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/style1.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/user.style.css" type="text/css">


    <title>Spotter - Universal Directory Listing HTML Template</title>

</head>

<body onunload="" class="page-subpage page-profile navigation-top-header" id="page-top">

<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">
        
        <!-- Page Canvas-->
        <div id="page-canvas">
            <!--Off Canvas Navigation-->
            <nav class="off-canvas-navigation">
                <header>Navigation</header>
                <div class="main-navigation navigation-off-canvas"></div>
            </nav>
            <!--end Off Canvas Navigation-->
            <!--Page Content-->
            <div id="page-content">
                <section class="container">
                    <header>
                        <ul class="nav nav-pills">
                        </ul>
                    </header>
                    <div class="row">
                            <form id="form-profile" role="form" method="post" action="?" enctype="multipart/form-data">
                                <!--Contact Info-->
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                                        <section>
                                            <div class="form-group"><h3><i class="fa fa-ticket" aria-hidden="true"></i>이용권을 구매하세요!</h3></div>
                                            
                                            <div class="col-xs-6 col-md-4"><a href="https://developers.kakao.com/payment/index#카카오페이"><img src="1개.png" alt="1개" width="250px" ></a></div>
                                            <div class="col-xs-6 col-md-4"><a href="https://developers.kakao.com/payment/index#카카오페이"><img src="3개.png" alt="3개" width="250px" ></a></div>
                                            <div class="col-xs-6 col-md-4"><a href="https://developers.kakao.com/payment/index#카카오페이"><img src="5개.png" alt="5개" width="250px" ></a></div>
                                            <div class="col-xs-6 col-md-4"><a href="https://developers.kakao.com/payment/index#카카오페이"><img src="10개.png" alt="10개" width="250px" ></a></div>
                                            <div class="col-xs-6 col-md-4"><a href="https://developers.kakao.com/payment/index#카카오페이"><img src="15개.png" alt="15개" width="250px" ></a></div>
                                            <div class="col-xs-6 col-md-4"><a href="https://developers.kakao.com/payment/index#카카오페이"><img src="20개.png" alt="20개" width="250px" ></a></div>
                                        </section>
                                    </div>
                                </div>
                            </form>
                    </div>
                </section>
            </div>
            <!-- end Page Content-->
        </div>
        <!-- end Page Canvas-->
    </div>
    <!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->

</body>
</html>